<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Vote Trust</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Image</display-name>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.servlet.HidemsginImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/HidemsginImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexTableGen</display-name>
    <servlet-name>IndexTableGen</servlet-name>
    <servlet-class>com.servlet.IndexTableGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexTableGen</servlet-name>
    <url-pattern>/IndexTableGen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageGen</display-name>
    <servlet-name>ImageGen</servlet-name>
    <servlet-class>com.servlet.ImageGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageGen</servlet-name>
    <url-pattern>/ImageGen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imagesplit</display-name>
    <servlet-name>Imagesplit</servlet-name>
    <servlet-class>com.servlet.Imagesplit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imagesplit</servlet-name>
    <url-pattern>/Imagesplit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SenderRegister</display-name>
    <servlet-name>SenderRegister</servlet-name>
    <servlet-class>com.servlet.SenderRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SenderRegister</servlet-name>
    <url-pattern>/SenderRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SenderLogin</display-name>
    <servlet-name>SenderLogin</servlet-name>
    <servlet-class>com.servlet.SenderLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SenderLogin</servlet-name>
    <url-pattern>/SenderLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallJsp</display-name>
    <servlet-name>CallJsp</servlet-name>
    <servlet-class>com.blur.CallJsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallJsp</servlet-name>
    <url-pattern>/CallJsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MergeImage</display-name>
    <servlet-name>MergeImage</servlet-name>
    <servlet-class>com.servlet.MergeImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MergeImage</servlet-name>
    <url-pattern>/MergeImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sendingsecretimage</display-name>
    <servlet-name>Sendingsecretimage</servlet-name>
    <servlet-class>com.servlet.Sendingsecretimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sendingsecretimage</servlet-name>
    <url-pattern>/Sendingsecretimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>receiversplit</display-name>
    <servlet-name>receiversplit</servlet-name>
    <servlet-class>com.servlet.receiversplit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receiversplit</servlet-name>
    <url-pattern>/receiversplit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Receivergettingsecretmsg</display-name>
    <servlet-name>Receivergettingsecretmsg</servlet-name>
    <servlet-class>com.servlet.Receivergettingsecretmsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receivergettingsecretmsg</servlet-name>
    <url-pattern>/Receivergettingsecretmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecryptPage</display-name>
    <servlet-name>DecryptPage</servlet-name>
    <servlet-class>com.servlet.DecryptPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecryptPage</servlet-name>
    <url-pattern>/DecryptPage</url-pattern>
  </servlet-mapping>
</web-app>